<div class="px-4 py-4">
  <div v-if="!openedGame">
    <h1 class="text-blue-600 text-2xl font-bold pb-4">Dürer játékok</h1>

    <table style="width:100%;border-collapse:collapse">
      <thead>
        <tr>
          <th>Év</th>
          <th>Forduló</th>
          <th>Kategória</th>
          <th>Játék</th>
          <th></th>
        </tr>
      </thead>
      <tr v-for="game in gamesToShow">
        <td>{{ game.year }}</td>
        <td>{{ game.round }}</td>
        <td>{{ game.category }}</td>
        <td>{{ game.name }}</td>
        <td>
          <button 
            @click="openedGame=game.component"
            class="rounded-lg px-4 bg-blue-400 hover:bg-blue-600"
          >Kipróbálom!</button>
        </td>
      </tr>
    </table>
  </div>
  <div v-if="openedGame">
    <button 
      class="rounded-lg px-4 bg-blue-400 hover:bg-blue-600"
      @click="openedGame=null"
    >&lt; Vissza a listához</button>
    <h1 class="text-blue-600 text-2xl font-bold pb-4">{{ selectedGame.name }}</h1>
    <hr />
  </div>
  <component v-if="openedGame" :is="openedGame"></component>
</div>
