<div>
  <div v-if="!openedGame">
    <h1>Dürer játékok</h1>

    <table style="width:100%">
      <tr>
        <th>Év</th>
        <th>Forduló</th>
        <th>Kategória</th>
        <th>Játék</th>
      </tr>
      <tr v-for="game in gamesToShow">
        <td>{{ game.year }}</td>
        <td>{{ game.round }}</td>
        <td>{{ game.category }}</td>
        <td>
          <button @click="openedGame=game.component">{{ game.name }}</button>
        </td>
      </tr>
    </table>
  </div>
  <div v-if="openedGame">
    <button @click="openedGame=null">Vissza a listához</button>
  </div>
  <component v-if="openedGame" :is="openedGame"></component>
</div>
