<div>
  <p class="text-justify">
    Van egy kupacban néhány érme, mindegyik 1, 2 vagy 3 pengős. Egy lépésben az
    éppen soron lévő játékos elvesz egy érmét a kupacból, és helyette berakhat egy darab kisebb
    értékű érmét, vagy dönthet úgy, hogy nem tesz be semmit. Az nyer, aki elveszi az utolsó érmét
    a kupacból.

    Az új leosztás gombra kattintva generálhatsz egy felállást. A felállás ismeretében te döntheted el, hogy kezdeni
    szeretnél-e, vagy második játékos lenni.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap" id="coin123">
    <div class="p-1 shrink-0 grow basis-8/12">
      <table class="m-2 border-collapse">
        <tr>
          <th>1-es</th>
          <th>2-es</th>
          <th>3-as</th>
        </tr>
        <tr>
          <td
            v-for="coinValue in [0, 1, 2]" :key="coinValue"
            @click="clickPiece(coinValue)"
            class="text-center h-36 w-36 border-4 text-8xl"
            :class="{ 'bg-gray-400': isCellDisabled(coinValue) }"
          >
            <span
              v-for="i in board[coinValue]"
              :key="i"
              class="h-16 w-16 p-1 inline-block rounded-full mr-1"
              :class="getPieceColor(coinValue)"
            >
            </span>
          </td>
        </tr>
      </table>
      <button v-if="takenValue" class="cta-button" @click="endMove()">Semmit se rakok be</button>
    </div>
    <game-sidebar :step-description="stepDescription" @restart="resetMoveState()" />
  </div>
</div>
