.dot {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin: 0 1px;
}

.redDot {
    background-color: #ff5e5e;
}

.blueDot {
    background-color: #5e87ff;
}

.gameActionButton {
    background-color: #5fba7d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    margin: 5px 0px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    white-space: normal; 
}

.topPileBorder {
    border-top-color: black; 
    border-top-style: solid;
    border-top-width: 3px;
}

.bottomPileBorder {
    border-bottom-color: black; 
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.pile {
    height: 80px;
    padding: 2px;
    text-align: left; 
    white-space: nowrap;
}

.game {
    flex: 3 0 400px;
    padding: 5px;
}

.info {
    flex: 1 0 300px;
    padding: 5px;
}

.move {
    font-style: italic; 
    height: auto; 
    text-align: justify;
}

.whos {
    font-size: 1.1em;
    font-weight:bold;
}

p {
    margin: 0 0 0.5em 0;
}