<div>
  <soldier-svg />
  <p class="text-justify">
    A török szultán serege megtámadta Hunyadi várát. A várlépcső egyes fokain néhány janicsár áll.
    Minden reggel a szultán kettéosztja a hadseregét egy piros és egy kék hadtestre.
    Hunyadi a nap folyamán vagy a piros, vagy a kék sereget megsemmisíti, választása szerint. Éjszaka minden megmaradt
    janicsár egy lépcsőfokot fellép.
    Hunyadi nyer, ha a szultán egész seregét megsemmisítette. 
    A szultán nyer, ha lesz olyan janicsár, aki felér a várhoz.

    A kezdőállás ismeretében te döntheted e, hogy Hunyadiként vagy a török szultánként szeretnél-e játszani.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap js-hunyadi-and-the-janissaries">
    <div class="p-1 shrink-0 grow basis-8/12">
      <img src="../../../assets/hunyadi-and-the-janissaries-castle.jpg" style="display: block; margin: auto;">
      <div
        v-for="rowIndex in [0, 1, 2, 3, 4]"
        :key="rowIndex"
        class="border-t-black border-t-2 h-20 p-1 text-left whitespace-nowrap"
        :class="{ 'border-b-black border-b-2': rowIndex === 4 }"
      >
        <span
          v-for="(group, pieceIndex) in board[rowIndex]"
          class="h-16 w-16 p-1 inline-block mx-1 js-clickable-soldier"
          @click="toggleGroup(rowIndex, pieceIndex)"
        >
          <svg class="h-16 w-16 p-1 inline-block" :class="group === 'blue' ? 'fill-blue-600' : 'fill-red-600'">
            <use xlink:href="#game-soldier-icon" />
          </svg>
        </span>
      </div>
    </div>
    <div class="p-1 flex flex-col grow-0 shrink-0 basis-64">
      <p class="text-center font-bold text-lg">{{ ctaText }}</p>
      <enemy-loader />
      <p class="italic text-justify">{{ stepDescription }}</p>
      <template v-if="isGameReadyToStart">
        <button class="cta-button js-second-player" @click="startGameWithRoleSelection({ isFirst: false })">
          Hunyadi leszek
        </button>
        <button class="cta-button js-first-player" @click="startGameWithRoleSelection({ isFirst: true })">
          Szultán leszek
        </button>
      </template>
      <template v-if="isGameInProgress">
        <button
          v-if="isPlayerSultan"
          :class="{ 'opacity-50': isEnemyMoveInProgress }"
          class="cta-button js-finalize-groups"
          @click="finalizeSoldierGrouping()"
        >
          Lépek
        </button>
        <button
          v-if="!isPlayerSultan"
          :class="{ 'opacity-50': isEnemyMoveInProgress }"
          class="cta-button bg-red-400 hover:bg-red-600 js-kill-red"
          @click="killGroup('red')"
        >
          Legyőzöm a pirosakat
        </button>
        <button
          v-if="!isPlayerSultan"
          :class="{ 'opacity-50': isEnemyMoveInProgress }"
          class="cta-button bg-blue-400 hover:bg-blue-600"
          @click="killGroup('blue')"
        >
          Legyőzöm a kékeket
        </button>
      </template>
      <div class="flex flex-grow items-end">
        <button class="cta-button mt-4 js-restart-game"  @click="initializeGame()">
          Új játék
        </button>
      </div>
    </div>
  </div>
</div>
