<div>
  <p class="game__rules">
    A pályán mindig két kupac
    korong található. A soron következő játékos választ egy kupacot, és azt szétosztja két kisebb kupacra (mindkettőbe
    legalább 1 korongnak kerülnie kell), a másik kupacot pedig kidobjuk. Az a játékos veszít, aki nem tud szabályosan
    lépni (azaz egyik kupacot se tudja szétosztani).

    Az új leosztás gombra kattintva generálhatsz egy felállást. A felállás ismeretében te döntheted el, hogy kezdeni
    szeretnél-e, vagy második játékos lenni.
    Sok sikert! :)
  </p>
  <div class="game__container" id="kupac-ketteoszto">
    <div class="game__board">
      <div v-for="rowIndex in [0, 1]" class="game__pile" :class="{ 'game__pile-bottom-border': rowIndex === 1 }">
        <span
            v-for="pieceIndex in [...Array(getBoard[rowIndex]).keys()].map(i => i + 1)"
            class="game__piece game__piece-blue game__circle"
            :style="{ 'opacity': pieceOpacity({ rowIndex, pieceIndex }) }"
            @click="clickPiece(rowIndex, pieceIndex)"
            @mouseover="handleMouseOverPiece(rowIndex, pieceIndex)"
            @mouseout="handleMouseOutPiece(rowIndex, pieceIndex)"
        ></span>
      </div>
    </div>
    <div class="game__info-area">
      <p class="game__step-cta-text">{{ ctaText }}</p>
      <div class="game__loader" :style="{ 'visibility': isEnemyMoveInProgress ? 'visible' : 'hidden' }"></div>
      <p class="game__step-description">{{ stepDescription }}</p>
      <button
          v-if="isGameReadyToStart"
          style="display:block"
          class="game__cta-button game__role-selector"
          @click="startGameAsPlayer(true)"
      >
        Kezdő leszek
      </button>
      <button
          v-if="isGameReadyToStart"
          class="game__cta-button game__role-selector"
          style="display:block"
          @click="startGameAsPlayer(false)"
      >
        Második leszek
      </button>
      <div class="game__flex-reset-container">
        <button class="game__cta-button game__reset-game"  style="display:block" @click="resetGame()">
          Új leosztás
        </button>
      </div>
    </div>
  </div>
</div>
