<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <div class="flex justify-center mb-4 mt-1">
      <p class="text-justify">
        Adott egy 2 × 2-es táblázat, és hozzá mindkét játékosnak van 3 db korongja. A
        játék során felváltva tesznek le ezekből egyet-egyet a táblázat tetszőleges mezőjére. A második
        játékos akkor nyer, ha a játék végén minden mezőben különböző számú korong található. (Azaz
        0, 1, 2, 3 a kiosztás a végén valamilyen sorrendben). Minden egyéb esetben pedig a kezdő játékos
        nyer.

        Te döntheteted el, hogy a kezdő vagy a második játékos bőrébe szeretnél e bújni.
        Sok sikert! :)
      </p>
    </div>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div class="grid grid-cols-2 gap-0 border-2">
          <div
            v-for="id in [0, 1, 2, 3]" :key="id"
            @click="placePiece(id)"
            class="aspect-square border-2 p-[4%]"
          >
            <span
              v-for="i in board[id]"
              :key="i"
              class="m-[3%] aspect-square inline-block bg-blue-600 rounded-full"
              :class="{ 'w-[40%]': board[id] <= 4, 'w-[25%]': board[id] > 4 }"
            >
            </span>
          </div>
        </div>
      </div>
      <game-sidebar step-description="Kattints arra a mezőre, ahova korongot szeretnél lerakni." />
    </div>
  </div>
</div>
