<div>
  <p class="text-justify">
    Ez egy példa játék

    Az új leosztás gombra kattintva generálhatsz egy felállást. A felállás ismeretében te döntheted el, hogy kezdeni
    szeretnél-e, vagy második játékos lenni.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap" id="demonstration">
    <div class="game__board">
      <button
        v-if="shouldPlayerMoveNext && isGameInProgress"
        class="game__cta-button"
        @click="playerMove({ board: [], isGameEnd: true })"
      >Lépek!</button>
    </div>
    <game-sidebar :step-description="stepDescription"></game-sidebar>
  </div>
</div>
