<div>
  <p class="text-justify">
    Ez egy példa játék

    Az új leosztás gombra kattintva generálhatsz egy felállást. A felállás ismeretében te döntheted el, hogy kezdeni
    szeretnél-e, vagy második játékos lenni.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap">
    <div class="p-1 shrink-0 grow basis-8/12">
      <button
        v-if="shouldPlayerMoveNext"
        class="cta-button"
        @click="makeMove()"
      >Lépek!</button>
    </div>
    <game-sidebar :step-description="stepDescription"></game-sidebar>
  </div>
</div>
