<div class="p-2 flex flex-col grow shrink-0 basis-64">
  <p class="text-center font-bold text-lg basis-[3.5rem]">{{ ctaText }}</p>
  <enemy-loader class="mb-[4rem]"/>
  <p v-if="shouldPlayerMoveNext" class="italic text-justify basis-[6rem]">
    <slot name="step-description"></slot>
  </p>
  <span v-if="isGameReadyToStart" class="basis-[6rem]">
    <button
      class="cta-button js-first-player"
      @click="startGameWithRoleSelection({ isFirst: true })"
    >
      Kezdő leszek
    </button>
    <button
      class="cta-button js-second-player"
      @click="startGameWithRoleSelection({ isFirst: false })"
    >
      Második leszek
    </button>
  </span>
  <button class="cta-button mt-[2vh] js-restart-game" @click="restartGame()">
    Új játék
  </button>
</div>
