<div>
  <chess-rook-svg></chess-rook-svg>
  <p class="text-justify">
    A játékosok felváltva lépnek egy bástyával, amely a sakktábla bal felső sarkából indul. A
    bástya vízszintesen vagy függőlegesen bármennyit (legalább egyet) léphet, de egyszerre csak az
    egyik irányba. Azokat a mezőket amikre a bástya lép, illetve a lépés közben áthalad, megjelöljük,
    ezekre a mezőkre már nem léphetünk (át sem haladhatunk felettük). Az a játékos veszít, aki
    nem tud lépni.

    Az új leosztás gombra kattintva generálhatsz egy felállást. A felállás ismeretében te döntheted el, hogy kezdeni
    szeretnél-e, vagy második játékos lenni.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap">
    <div class="p-1 shrink-0 grow basis-8/12">
      <table class="m-2 border-collapse">
        <tr v-for="row in [0, 1, 2, 3, 4, 5, 6, 7]" :key="row">
          <td 
            v-for="col in [0, 1, 2, 3, 4, 5, 6, 7]" :key="col" 
            @click="clickField({ row, col })"
            class="text-center h-20 w-20 border-4"
            :class="{ 'bg-slate-400': board.chessBoard[row * 8 + col] === 'visited' }"
          >
            <span v-if="board.chessBoard[row * 8 + col] === 'rook'">
              <svg class="h-16 w-16 p-1 inline-block">
                <use xlink:href="#game-chess-rook" />
              </svg>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <game-sidebar :step-description="stepDescription"></game-sidebar>
  </div>
</div>