<div class="flex justify-center">
  <chess-rook-svg></chess-rook-svg>
  <div class="max-w-[100ch]">
    <game-rule>
      A játékosok felváltva lépnek egy bástyával, amely a sakktábla bal felső sarkából indul. A
      bástya vízszintesen vagy függőlegesen bármennyit (legalább egyet) léphet, de egyszerre csak az
      egyik irányba. Azokat a mezőket amikre a bástya lép, illetve a lépés közben áthalad, megjelöljük,
      ezekre a mezőkre már nem léphetünk (át sem haladhatunk felettük). Az a játékos veszít, aki
      nem tud lépni.
  
      Te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
      Sok sikert! :)
    </game-rule>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <table class="m-2 border-collapse w-full table-fixed">
          <tr v-for="row in [0, 1, 2, 3, 4, 5, 6, 7]" :key="row">
            <td 
              v-for="col in [0, 1, 2, 3, 4, 5, 6, 7]" :key="col" 
              @click="clickField({ row, col })"
              class="border-4"
              :class="{ 'bg-slate-300': board.chessBoard[row][col] === 'visited' }"
            >
              <div class="aspect-square p-[5%] text-center">
                <span v-if="isAllowedMove({ row, col })">
                  <svg class="w-full aspect-square opacity-25 inline-block">
                    <use xlink:href="#game-chess-rook" />
                  </svg>
                </span>
                <span v-if="board.chessBoard[row][col] === 'rook'">
                  <svg class="w-full aspect-square inline-block">
                    <use xlink:href="#game-chess-rook" />
                  </svg>
                </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <game-sidebar>
        <template #step-description>Kattints egy szabad mezőre a bástyával egy sorban vagy oszlopban, ahova a bástyával mozogni szeretnél.</template>
      </game-sidebar>
    </div>
  </div>
</div>
