<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <div class="flex justify-center mb-4 mt-1">
      <p class="text-justify">
        A pályán kezdetben 37 korong van, három kupacban.
        A soron következő játékos először az egyik kupacot teljes egészében kiveszi a játékból;
        majd egy másik kupacot kettéoszt két kisebb kupacra (mindkettőbe legalább 1 korongnak kerülnie kell).
        Egy lépést követően tehát újra három kupac marad. Az a játékos veszít, aki nem tud szabályosan
        lépni (azaz egyik kupacot se tudja szétosztani).

        A kezdőállás ismeretében te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
        Sok sikert! :)
      </p>
    </div>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div
          v-for="heapId in [0, 1, 2]"
          :key="heapId"
          :style="{ 'aspect-ratio': 22 }"
          class="border-t-black border-t-2 py-0.5 text-left whitespace-nowrap"
          :class="{ 'border-b-black border-b-2': heapId === 2 }"
        >
          <template v-for="(_, pieceId) in board[heapId]">
            <span
              v-if="shouldShowDividerToTheLeft({ heapId, pieceId })"
              class="inline-block border-r-black border-r-4 h-[90%] border-dotted -ml-1"
            ></span>
            <span
              :class="{ 'bg-red-600': rowColor({ heapId }) === 'red', 'bg-blue-600': rowColor({ heapId }) === 'blue', 'opacity-50': heapId === removedheapId }"
              class="h-[100%] aspect-square inline-block rounded-full mr-0.5"
              :style="{ 'pointer-events': shouldPlayerMoveNext ? 'auto' : 'none', 'cursor': pieceClickNotAllowed({ heapId, pieceId }) ? 'not-allowed' : 'pointer' }"
              @click="clickPiece({ heapId, pieceId })"
              @mouseover="hoveredPiece = { heapId, pieceId }"
              @mouseout="hoveredPiece = null"
            ></span>
          </template>
          <span class="inline-block h-[100%] align-middle px-2 -mt-4">
            {{ currentChoiceDescription(heapId) }}
          </span>
        </div>
      </div>
      <game-sidebar 
        step-description="Először kattints az eltávolítandó kupacra, majd arra a korongra, ahol ketté akarod vágni a kupacot." 
        @restart="resetTurnState()" 
      />
    </div>
  </div>
</div>
