<div>
  <p class="text-justify">
    A játék során egy öt mezőből álló táblára fogunk elhelyezni tíz korongot. A játék
    elején a szervező egy korongot felhelyez az egyik mezőre, és ezután kezdődik a játék. Minden
    körben a kezdőjátékos egy korongot helyez a táblára, majd ezután a második játékos tesz le két
    korongot. (A két korongot lehet azonos, illetve különböző mezőkre is tenni.) A játék akkor ér
    véget, amikor a 10. korong felkerül a táblára. A második játékos akkor nyer, ha a játék végén
    minden mezőn különböző számú korong áll. A kezdő pedig akkor nyer, ha van két olyan mező,
    amelyen azonos számú korong áll.

    Te döntheteted el, hogy a kezdő vagy a második játékos bőrébe szeretnél e bújni.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap">
    <div class="p-1 shrink-0 grow basis-8/12">
      <table class="m-2 border-collapse">
        <tr v-for="row in [0, 1]" :key="row">
          <td
            v-for="col in 3-row" :key="col"
            @click="placePiece(row * 3 + col - 1)"
            class="text-center h-36 w-36 border-4 text-8xl"
          >
            <span
              v-for="i in board[row * 3 + col - 1]"
              :key="i"
              class="h-16 w-16 p-1 inline-block bg-blue-600 rounded-full mr-1"
            ></span>
          </td>
        </tr>
      </table>
    </div>
    <game-sidebar step-description="Kattints arra a mezőre, ahova korongot szeretnél lerakni." />
  </div>
</div>
