<div class="flex justify-center">
  <div class="max-w-[100ch] w-full">
    <game-rule>
      A játék során egy öt mezőből álló táblára fogunk elhelyezni tíz korongot. A játék
      elején a szervező egy korongot felhelyez az egyik mezőre, és ezután kezdődik a játék. Minden
      körben a kezdőjátékos egy korongot helyez a táblára, majd ezután a második játékos tesz le két
      korongot. (A két korongot lehet azonos, illetve különböző mezőkre is tenni.) A játék akkor ér
      véget, amikor a 10. korong felkerül a táblára. A második játékos akkor nyer, ha a játék végén
      minden mezőn különböző számú korong áll. A kezdő pedig akkor nyer, ha van két olyan mező,
      amelyen azonos számú korong áll.
  
      Te döntheteted el, hogy a kezdő vagy a második játékos bőrébe szeretnél e bújni.
      Sok sikert! :)
    </game-rule>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div class="grid grid-cols-3 gap-0 border-t-4 border-l-4">
          <button
            v-for="id in [0, 1, 2, 3, 4]" :key="id"
            :disabled="!shouldPlayerMoveNext"
            @click="placePiece(id)"
            class="aspect-square border-r-4 border-b-4 p-[3%]"
          >
            <span
              v-for="i in board[id]"
              :key="i"
              class="m-[2%] aspect-square inline-block bg-blue-600 rounded-full"
              :class="{ 'w-[37%]': board[id] <= 4, 'w-[28%]': board[id] == 5 || board[id] == 6, 'w-[20%]': board[id] > 6 }"
            >
            </span>
          </button>
        </div>
      </div>
      <game-sidebar>
        <template #step-description>
          Kattints arra a mezőre, ahova korongot szeretnél lerakni.
        </template>
      </game-sidebar>
    </div>
  </div>
</div>
