<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <game-rule>
      Adott egy téglatest rácsa, aminek be van húzva az egyik testátlója. 
      Egy lépésben az éppen soron lévő játékos megszínezi valamelyik még színezetlen csúcsot három szín valamelyikével 
      (azaz piros, sárga vagy kék korongot tesz rá) úgy, hogy ne keletkezzen két szomszédos csúcs, amik azonos színűek. 
      Ha valamelyik játékos nem tud lépni, akkor véget ér a játék. 
      A kezdő játékos nyer, ha minden csúcs meg lett színezve, míg a második akkor nyer, ha van olyan csúcs ami nem lett kiszínezve.
  
      Te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
      Sok sikert! :)
    </game-rule>
    <div class="flex flex-wrap" id="cube-coloring">
      <div class="p-2 shrink-0 grow basis-2/3">
        <button :disabled="!shouldPlayerMoveNext" class="w-[30%] mx-[1%] rounded text-xl mb-1 bg-opacity-75 bg-red-600" @click="pick('red')">Piros</button>
        <button :disabled="!shouldPlayerMoveNext" class="w-[30%] mx-[1%] rounded text-xl mb-1 bg-opacity-75 bg-green-600" @click="pick('green')">Zöld</button>
        <button :disabled="!shouldPlayerMoveNext" class="w-[30%] mx-[1%] rounded text-xl mb-1 bg-opacity-75 bg-blue-600" @click="pick('blue')">Kék</button>
        <svg @mousemove="drawPickedColor" class="aspect-square stroke-black stroke-[3]">
          <!-- front and back face -->
          <rect x="8%" y="25%" width="66%" height="66%" class="fill-transparent" />
          <rect x="25%" y="8%" width="66%" height="66%" class="fill-transparent" />
          
          <!-- 4 edges connecting front and back face -->
          <line x1="8%" y1="25%" x2="25%" y2="8%"/>
          <line x1="74%" y1="25%" x2="91%" y2="8%"/>
          <line x1="74%" y1="91%" x2="91%" y2="74%"/>
          <line x1="8%" y1="91%" x2="25%" y2="74%"/>
          <!-- main diagonal -->
          <line x1="74%" y1="91%" x2="25%" y2="8%"/>

          <!-- 8 nodes -->
          <circle
            cx="8%"  cy="25%" r="4%"
            @click="setColor(0)" v-on:keyup.enter="setColor(0)"
            :tabindex="isMoveAllowed(0) ? 0 : 'none'"
            :fill="board[0] || 'white'"
          />
          <circle
            cx="74%" cy="25%" r="4%"
            @click="setColor(1)" v-on:keyup.enter="setColor(1)"
            :tabindex="isMoveAllowed(1) ? 0 : 'none'"
            :fill="board[1] || 'white'"
          />
          <circle
            cx="74%" cy="91%" r="4%"
            @click="setColor(2)" v-on:keyup.enter="setColor(2)"
            :tabindex="isMoveAllowed(2) ? 0 : 'none'"
            :fill="board[2] || 'white'"
          />
          <circle
            cx="8%"  cy="91%" r="4%"
            @click="setColor(3)" v-on:keyup.enter="setColor(3)"
            :tabindex="isMoveAllowed(3) ? 0 : 'none'"
            :fill="board[3] || 'white'"
          />
          <circle
            cx="25%" cy="8%"  r="4%"
            @click="setColor(4)" v-on:keyup.enter="setColor(4)"
            :tabindex="isMoveAllowed(4) ? 0 : 'none'"
            :fill="board[4] || 'white'"
          />
          <circle
            cx="91%" cy="8%"  r="4%"
            @click="setColor(5)" v-on:keyup.enter="setColor(5)"
            :tabindex="isMoveAllowed(5) ? 0 : 'none'"
            :fill="board[5] || 'white'"
          />
          <circle
            cx="91%" cy="74%" r="4%"
            @click="setColor(6)" v-on:keyup.enter="setColor(6)"
            :tabindex="isMoveAllowed(6) ? 0 : 'none'"
            :fill="board[6] || 'white'"
          />
          <circle
            cx="25%" cy="74%" r="4%"
            @click="setColor(7)" v-on:keyup.enter="setColor(7)"
            :tabindex="isMoveAllowed(7) ? 0 : 'none'"
            :fill="board[7] || 'white'"
          />

          <!-- cursor position with to-be-used color -->
          <circle v-if="show" :cx="x" :cy="y" r="4%" :fill="color" class="pointer-events-none opacity-50 stroke-0" />
        </svg>
      </div>
      <game-sidebar @restart="resetTurnState()">
        <template #step-description>
          Válassz színt, majd színezz meg egy csúcsot!
        </template>
      </game-sidebar>
    </div>
  </div>
</div>
