<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <div class="flex justify-center mb-4 mt-1">
      <p class="text-justify">
        A pályán mindig két kupac korong található. 
        A soron következő játékos választ egy kupacot, és azt szétosztja két kisebb kupacra (mindkettőbe
        legalább 1 korongnak kerülnie kell), a másik kupacot pedig kidobjuk. 
        Az a játékos veszít, aki nem tud szabályosan lépni (azaz egyik kupacot se tudja szétosztani).

        A kezdőállás ismeretében te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
        Sok sikert! :)
      </p>
    </div>
    <div class="flex flex-wrap js-heap-splitter">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div
          v-for="rowIndex in [0, 1]"
          :key="rowIndex"
          :style="{ 'aspect-ratio': 12 }"
          class="border-t-black border-t-2 py-0.5 text-left whitespace-nowrap js-pile"
          :class="{ 'border-b-black border-b-2': rowIndex === 1 }"
        >
          <template v-for="(_, pieceIndex) in board[rowIndex]">
            <span
              v-if="shouldShowDividerToTheLeft({ rowIndex, pieceIndex })"
              class="inline-block border-r-black border-r-4 h-[90%] border-dotted -ml-1"
            ></span>
            <span
              class="js-pebble h-[100%] aspect-square inline-block bg-blue-600 rounded-full mr-0.5"
              :style="{ 'pointer-events': shouldPlayerMoveNext ? 'auto' : 'none', 'cursor': pieceIndex === 0 ? 'not-allowed' : 'pointer' }"
              @click="clickPiece({ rowIndex, pieceIndex })"
              @mouseover="hoveredPiece = { rowIndex, pieceIndex }"
              @mouseout="hoveredPiece = null"
            ></span>
          </template>
          <span class="inline-block h-[100%] align-middle px-2 text-xl -mt-4">
            {{ currentChoiceDescription(rowIndex) }}
          </span>
        </div>
      </div>
      <game-sidebar 
        step-description="Kattints egy korongra, hogy azzal kettéosztd azt a kupacot. Amelyik korongra kattintasz, az és a tőle jobbra lévők kerülnek az új kupacba." 
      />
    </div>
  </div>
</div>
