<div>
  <p class="text-justify">
    A pályán mindig két kupac
    korong található. A soron következő játékos választ egy kupacot, és azt szétosztja két kisebb kupacra (mindkettőbe
    legalább 1 korongnak kerülnie kell), a másik kupacot pedig kidobjuk. Az a játékos veszít, aki nem tud szabályosan
    lépni (azaz egyik kupacot se tudja szétosztani).

    Az új leosztás gombra kattintva generálhatsz egy felállást. A felállás ismeretében te döntheted el, hogy kezdeni
    szeretnél-e, vagy második játékos lenni.
    Sok sikert! :)
  </p>
  <div class="flex flex-wrap" id="kupac-ketteoszto">
    <div class="game__board">
      <div v-for="rowIndex in [0, 1]" class="game__pile" :class="{ 'border-b-black border-b-2': rowIndex === 1 }">
        <span
            v-for="pieceIndex in [...Array(getBoard[rowIndex]).keys()].map(i => i + 1)"
            class="game__piece mx-1 bg-blue-600 rounded-full"
            :style="{ 'opacity': pieceOpacity({ rowIndex, pieceIndex }) }"
            @click="clickPiece(rowIndex, pieceIndex)"
            @mouseover="handleMouseOverPiece(rowIndex, pieceIndex)"
            @mouseout="handleMouseOutPiece(rowIndex, pieceIndex)"
        ></span>
      </div>
    </div>
    <div class="p-1 flex flex-col flex-grow flex-shrink-0 basis-80">
      <p class="text-center font-bold text-lg">{{ ctaText }}</p>
      <enemy-loader />
      <p class="italic text-justify">{{ stepDescription }}</p>
      <button
          v-if="isGameReadyToStart"
          class="game__cta-button"
          @click="startGameAsPlayer(true)"
      >
        Kezdő leszek
      </button>
      <button
          v-if="isGameReadyToStart"
          class="game__cta-button"
          @click="startGameAsPlayer(false)"
      >
        Második leszek
      </button>
      <div class="flex flex-grow items-end">
        <button class="game__cta-button mt-4" @click="initializeGame()">
          Új leosztás
        </button>
      </div>
    </div>
  </div>
</div>
