<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <div class="flex justify-center mb-4 mt-1">
      <p class="text-justify">
        A 3 × 3-as duplánkezdő amőba játékban először a kezdő tesz le két piros korongot, majd
      a második egy kék korongot és innentől felváltva egy-egy korongot tesznek le a saját színükből, amíg
      be nem telik a tábla. A kezdő nyer, ha a játék végén van valahol három piros egy sorban, oszlopban
      vagy átlóban, de sehol sincs három kék egy sorban, oszlopban vagy átlóban; egyébként a második
      nyer.
    
        Te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
        Sok sikert! :)
      </p>
    </div>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div class="grid grid-cols-3 gap-0 border-2">
          <div
            v-for="id in [0, 1, 2, 3, 4, 5, 6, 7, 8]" :key="id"
            @click="clickField(id)"
            class="aspect-square p-[25%] border-2"
          >
            <span
              v-if="board[id]"
              class="w-full aspect-square inline-block rounded-full mb-[-0.5rem]"
              :class="pieceColor(id)"
            ></span>
          </div>
        </div>
      </div>
      <game-sidebar
        :step-description="isDuringFirstMove ? 'Helyezz le két korongot (kattints a mezőkre)' : 'Helyezz le egy korongot egy üres mezőre kattintással.'" 
      />
    </div>
  </div>
</div>
