<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <game-rule>
      Két játékos játszik egy 3 × 3-as táblán kék és piros korongokkal a szokásos amőba
      szabályai szerint, tehát felváltva tesznek le korongokat, és ha egy sorban, oszlopban vagy átlóban
      összegyűlik három azonos színű korong, az adott játékos nyer. Ha az első 9 korong lehelyezése
      után döntetlen az állás (azaz egyik játékos sem nyert), akkor tovább folytatják a játékot, a soron
      következő játékos az ellenfél egy már lehelyezett korongját fehérre színezheti. Ezek után az nyer,
      aki először hoz létre három fehér korongot egy sorban, oszlopban vagy átlóban.
  
      Te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
      Sok sikert! :)
    </game-rule>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div class="grid grid-cols-3 gap-0 border-2">
          <button
            v-for="id in [0, 1, 2, 3, 4, 5, 6, 7, 8]" :key="id"
            :disabled="!isMoveAllowed(id)"
            @click="clickField(id)"
            class="aspect-square p-[25%] border-2"
            :class="{ 'cursor-not-allowed': !isMoveAllowed(id) && shouldPlayerMoveNext, 'bg-green-100': !inPlacingPhase && isMoveAllowed(id) }"
          >
            <span
              v-if="board[id]"
              class="w-full aspect-square inline-block rounded-full mb-[-0.5rem]"
              :class="{ [pieceColor(id)]: true, 'border-4': pieceColor(id) === 'bg-white', 'border-slate-600': pieceColor(id) === 'bg-white' }"
            ></span>
        </button>
        </div>
      </div>
      <game-sidebar>
        <template #step-description>
          {{ inPlacingPhase ? 'Kattints egy üres mezőre.' : 'Kattints egy piros korongra.' }}
        </template>
      </game-sidebar>
    </div>
  </div>
</div>
