<div class="flex justify-center">
  <div class="max-w-[100ch] w-full">
    <game-rule>
      A pályán mindig két kupac korong található. Egy lépésben az éppen soron következő játékos az egyik
      kupacból elvesz páros sok korongot (legalább kettőt), és a másik kupachoz hozzáad feleannyit. 
      Az veszít, aki nem tud a szabályoknak megfelően lépni.
  
      A kezdőállás ismeretében te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
      Sok sikert! :)
    </game-rule>
    <div class="flex flex-wrap js-pile-splitter">
      <section class="p-2 shrink-0 grow basis-2/3">
        <div
          v-for="pileId in [0, 1]"
          :key="pileId"
          class="js-pile w-[50%] pl-1 inline-block text-center"
          :class="{ 'border-r-2': pileId === 0 && board[0] >= board[1], 'border-l-2': pileId === 1 && board[0] < board[1] }"
          style="transform: scaleY(-1)"
        >
          <p class="text-xl" style="transform: scaleY(-1)">
            {{ currentChoiceDescription(pileId) }}
          </p>
          <button
            v-for="(_, pieceId) in 20" :key="pieceId"
            :disabled="isDisabled({ pileId, pieceId })"
            class="js-pebble inline-block w-[20%] aspect-square rounded-full mx-0.5"
            :class="{ 
              'bg-blue-900 opacity-30': toAppear({ pileId, pieceId }) && nonExistent({ pileId, pieceId }), 
              'bg-red-600 opacity-50': toBeRemoved({ pileId, pieceId }), 
              'bg-white': (nonExistent({ pileId, pieceId }) && !toAppear({ pileId, pieceId })),
              'bg-blue-900': !nonExistent({ pileId, pieceId }) && !toBeRemoved({ pileId, pieceId })
          }"
            @click="clickPiece({ pileId, pieceId })"
            @focus="hoveredPiece = { pileId, pieceId }"
            @blur="hoveredPiece = null"
            @mouseover="hoveredPiece = { pileId, pieceId }"
            @mouseout="hoveredPiece = null"
          >
        </button>
        </div>
      </section>
      <game-sidebar>
        <template #step-description>
          Kattints egy korongra, hogy jelezd, hány korongot szeretnél elvenni a kupacból.
        </template>
      </game-sidebar>
    </div>
  </div>
</div>

