<div>
  <div class="flex flex-wrap items-baseline">
    <h1 class="text-blue-600 text-2xl font-bold pb-4 grow">Dürer játékok</h1>
    <span class="text-right">
      <a
        href="https://forms.gle/7DwugmXNrvKgkiiu8"
        target="_blank"
        class="px-4 text-blue-800 underline"
      >
        Hibabejelentő    
      </a>
    </span>
  </div>

  <div class="flex flex-wrap align-baseline">
    <Listbox
      v-model="selectedCategories" as="div" multiple horizontal
      class="mb-2 w-96 inline-block"
      v-slot="{ open }"
    >
      <label for="category-selector" class="block">Kategória szűrő:</label>
      <ListboxButton id="category-selector" class="border-2 border-slate-600 rounded w-full">
        {{ selectedCategoriesLabel || 'Válassz kategóriákat' }}
      </ListboxButton>
      <ListboxOptions class="text-center mt-1">
        <ListboxOption
          v-for="category in allCategories" :key="category"
          :value="category"
          class="inline-block"
          v-slot="{ selected, active }"
        >
         <span class="border-2 rounded px-1 mx-1 inline-block" :class="{ 'bg-blue-200': selected, 'outline': active }">
          <span :class="{ 'text-transparent': !selected }">✓</span>{{ category }}
         </span>
        </ListboxOption>
      </ListboxOptions>
    </Listbox>
  
    <Listbox
      v-model="selectedYears" as="div" multiple horizontal
      class="ml-2 mb-2 w-96 inline-block"
      v-slot="{ open }"
    >
      <label for="year-selector" class="block">Év szűrő:</label>
      <ListboxButton id="year-selector" class="border-2 border-slate-600 rounded w-full">
        {{ selectedYearsLabel || 'Válassz éveket' }}
      </ListboxButton>
      <ListboxOptions class="text-center mt-1">
        <ListboxOption
          v-for="year in allYears" :key="year"
          :value="year"
          class="inline-block"
          v-slot="{ selected, active }"
        >
         <span class="border-2 rounded px-1 mx-1 inline-block" :class="{ 'bg-blue-200': selected, 'outline': active }">
          <span :class="{ 'text-transparent': !selected }">✓</span>{{ year }}
         </span>
        </ListboxOption>
      </ListboxOptions>
    </Listbox>
  </div>


  <div class="flex flex-wrap">
    <span
      v-for="game in gamesToShow" :key="game.name"
      class="rounded-lg shadow-lg border p-2 m-2 max-w-[32ch] w-full flex flex-col js-game-card"
    >
      <h2 class="text-xl font-bold mb-2 text-center">{{ game.name }}</h2>
      <div class="grow"></div>
      <div class="flex items-baseline">
        <span class="rounded-lg bg-orange-200 p-1 m-1">{{ game.year }}.</span>
        <span class="rounded-lg bg-blue-200 p-1 m-1">{{ game.category }}</span>
        <span class="rounded-lg bg-amber-200 p-1 m-1">{{ game.round }}</span>
        <span class="grow"></span>
        <button
          @click="goToGamePage(game.component)"
          class="cta-button rounded-lg py-1 px-1 underline m-1 text-base w-auto"
          :class="`js-select-${game.component}`"
        >Kipróbálom!</button>
      </div>
    </span>
  </div>
</div>
