<div>
  <div class="flex flex-wrap items-baseline">
    <h1 class="text-blue-600 text-2xl font-bold pb-4 grow">Dürer játékok</h1>
    <span class="text-right">
      <a
        href="https://forms.gle/7DwugmXNrvKgkiiu8"
        target="_blank"
        class="px-4 text-blue-800 underline"
      >
        Hibabejelentő    
      </a>
    </span>
  </div>

  <div class="flex flex-wrap align-baseline">
    <Listbox
      v-model="selectedCategories" as="div" multiple horizontal
      class="mb-2 w-96 inline-block"
      v-slot="{ open }"
    >
      <label for="category-selector" class="block">Kategória szűrő:</label>
      <ListboxButton id="category-selector" class="border-2 border-slate-600 rounded w-full">
        {{ selectedCategoriesLabel || 'Válassz kategóriákat' }}
      </ListboxButton>
      <ListboxOptions class="text-center mt-1">
        <ListboxOption
          v-for="category in allCategories" :key="category"
          :value="category"
          class="inline-block"
          v-slot="{ selected, active }"
        >
         <span class="border-2 rounded px-1 mx-1 inline-block" :class="{ 'bg-blue-200': selected, 'outline': active }">
          <span :class="{ 'text-transparent': !selected }">✓</span>{{ category }}
         </span>
        </ListboxOption>
      </ListboxOptions>
    </Listbox>
  
    <Listbox
      v-model="selectedYears" as="div" multiple horizontal
      class="ml-2 mb-2 w-96 inline-block"
      v-slot="{ open }"
    >
      <label for="year-selector" class="block">Év szűrő:</label>
      <ListboxButton id="year-selector" class="border-2 border-slate-600 rounded w-full">
        {{ selectedYearsLabel || 'Válassz éveket' }}
      </ListboxButton>
      <ListboxOptions class="text-center mt-1">
        <ListboxOption
          v-for="year in allYears" :key="year"
          :value="year"
          class="inline-block"
          v-slot="{ selected, active }"
        >
         <span class="border-2 rounded px-1 mx-1 inline-block" :class="{ 'bg-blue-200': selected, 'outline': active }">
          <span :class="{ 'text-transparent': !selected }">✓</span>{{ year }}
         </span>
        </ListboxOption>
      </ListboxOptions>
    </Listbox>
  </div>


  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th
          v-for="header in ['Év', 'Forduló', 'Kategória', 'Játék', '']"
          class="bg-gray-500 border-2 border-gray-300 text-center text-white font-bold p-1"
        >{{ header }}</th>
      </tr>
    </thead>
    <tr v-for="game in gamesToShow" class="odd:bg-gray-200">
      <td
        v-for="gameProp in [game.year, game.round, game.category, game.name]"
        class="border-2 border-gray-300 text-center p-1"
      >{{ gameProp }}</td>
      <td class="border-2 border-gray-300 text-center p-1">
        <button
          @click="goToGamePage(game.component)"
          :class="`rounded-lg px-4 bg-blue-400 hover:bg-blue-600 js-select-${game.component}`"
        >Kipróbálom!</button>
      </td>
    </tr>
  </table>
</div>
