<div class="flex justify-center">
  <div class="max-w-[100ch] w-full">
    <game-rule>
      Károly és Dezső <pre class="inline">m</pre>-ig szeretnének elszámolni, és közben a következő játékot játsszák:
      0-ról kezdenek, a két játékos felváltva adhat hozzá egy 13-nál kisebb pozitív egészet a korábbi
      számhoz, azonban a babonájuk miatt ha egyikük x-et adott hozzá, akkor másikuk a következő
      lépésben nem adhat hozzá <pre class="inline">13-x</pre>-et. Az veszít, aki eléri (vagy átlépi) <pre class="inline">m</pre>-et.
  
      Az <pre class="inline">m</pre> szám ismeretében te döntheteted el, hogy a kezdő vagy a második játékos bőrébe szeretnél e bújni.
      Sok sikert! :)
    </game-rule>
    <div class="flex flex-wrap">
      <section class="p-2 shrink-0 grow basis-2/3">
        <div class="flex flex-wrap mb-1">
          <button
            v-for="i in fields" :key="i"
            :disabled="!isMoveAllowed(i - board.current)"
            class="border-2 text-2xl min-w-[4ch] text-center p-1 my-1 font-bold"
            :class="{ 'bg-emerald-200': isMoveAllowed(i - board.current), 'bg-red-200': board.restricted && i === board.current + board.restricted, 'bg-slate-400': i < board.current, 'bg-slate-200': i === board.current, 'hover:bg-emerald-400': isMoveAllowed(i - board.current) }"
            @click="makeStep(i - board.current)"
          >{{ i == board.current ? 'X' : i }}</button>
        </div>
        <p v-if="shouldPlayerMoveNext" class="text-xl">
          Előző lépés: {{ 13 - board.restricted }}. Tiltott: {{ board.restricted || '-' }}.
        </p>
      </section>
      <game-sidebar>
        <template #step-description>
          Kattints a mezőre ahova lépni szeretnél.
        </template>
      </game-sidebar>
    </div>
  </div>
</div>
