<div>
  <template v-if="gameDefinition">
    <div class="flex flex-wrap items-baseline">
      <button
        class="rounded-lg px-4 bg-blue-400 hover:bg-blue-600 js-back-to-overview basis-44"
        @click="goBackToOverview()"
      >← Vissza a listához</button>
      <h1 class="grow text-blue-600 text-2xl font-bold pb-4 text-center">
        {{ gameDefinition.name }}
      </h1>
      <span class="basis-44 text-right">
        <a
          href="https://forms.gle/7DwugmXNrvKgkiiu8"
          target="_blank"
          class="px-4 text-blue-800 underline"
        >
          Hibabejelentő    
        </a>
      </span>
    </div>
    <hr />
    <component :is="gameId"></component>
  </template>
  <page-not-found v-if="!gameDefinition"></page-not-found>
</div>
