<div class="flex justify-center">
  <div class="max-w-[100ch]">
    <div class="flex justify-center mb-4 mt-1">
      <p class="text-justify">
        A pályán mindig két kupac korong található. 
        A soron következő játékos választ egy kupacot, és azt szétosztja két kisebb kupacra (mindkettőbe
        legalább 1 korongnak kerülnie kell), a másik kupacot pedig kidobjuk. 
        Az a játékos veszít, aki nem tud szabályosan lépni (azaz egyik kupacot se tudja szétosztani).

        A kezdőállás ismeretében te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
        Sok sikert! :)
      </p>
    </div>
    <div class="flex flex-wrap js-pile-splitter">
      <div class="p-2 shrink-0 grow basis-2/3">
        <div
          v-for="pileId in [0, 1]"
          :key="pileId"
          class="js-pile w-[50%] pl-1 inline-block text-center"
          :class="{ 'border-r-2': pileId === 0 && board[0] >= board[1], 'border-l-2': pileId === 1 && board[0] < board[1] }"
          style="transform: scaleY(-1)"
        >
          <div class="text-xl" :class="{ 'text-red-600': isBannedHover() }" style="transform: scaleY(-1)">
            {{ currentChoiceDescription(pileId) }}
          </div>
          <span
            v-for="(_, pieceId) in board[pileId]"
            :key="pieceId"
            class="js-pebble inline-block bg-blue-600 w-[20%] aspect-square rounded-full mx-0.5"
            :class="{ 'outline-dashed': toBeLeft({ pileId, pieceId }), 'opacity-50': toBeRemoved({ pileId }) }"
            :style="{ 'pointer-events': shouldPlayerMoveNext ? 'auto' : 'none', 'cursor': pieceId === board[pileId] - 1 ? 'not-allowed' : 'pointer' }"
            @click="clickPiece({ pileId, pieceId })"
            @mouseover="hoveredPiece = { pileId, pieceId }"
            @mouseout="hoveredPiece = null"
          >
          </span>
        </div>
      </div>
      <game-sidebar>
        <template #step-description>
          Kattints egy korongra, hogy azzal kettéosztd azt a kupacot.
        </template>
      </game-sidebar>
    </div>
  </div>
</div>
