<div class="flex justify-center">
  <chess-bishop-svg></chess-bishop-svg>
  <div class="max-w-[100ch]">
    <div class="flex justify-center mb-4 mt-1">
      <p class="text-justify">
        Két játékos felváltva tesz le (a kezdetben üres) sakktáblára futókat. Egy új futót mindig
        csak olyan mezőre tehetünk, amin még nem áll futó, és azt a mezőt nem is támadja futó. Az
        veszít, aki nem tud lerakni futót. (Futó támad egy mezőt: ha a sakk szabályai szerint a futóval
        arra a mezőre tudnánk lépni, azaz a futóhoz képest átlósan helyezkedik el.)

        Te döntheted el, hogy kezdeni szeretnél-e, vagy második játékos lenni.
        Sok sikert! :)
      </p>
    </div>
    <div class="flex flex-wrap">
      <div class="p-2 shrink-0 grow basis-2/3">
        <table class="m-2 w-full border-collapse table-fixed">
          <tr v-for="row in [0, 1, 2, 3, 4, 5, 6, 7]" :key="row">
            <td 
              v-for="col in [0, 1, 2, 3, 4, 5, 6, 7]" :key="col" 
              @click="clickField({ row, col })"
              class="border-4"
              :class="{ 'bg-slate-400': isForbidden({ row, col }), 'bg-slate-200': wouldBeForbidden({ row, col }), 'cursor-not-allowed': isForbidden({ row, col }) }"
              @mouseover="hoveredField = { row, col }"
              @mouseout="hoveredField = null"
            >
              <div class="aspect-square p-[5%]">
                <span v-show="isBishop({ row, col })" >
                  <svg class="inline-block w-full aspect-square">
                    <use xlink:href="#game-chess-bishop" />
                  </svg>
                </span>
                <span v-show="isPotentialNextStep({ row, col })">
                  <svg class="inline-block w-full aspect-square opacity-50">
                    <use xlink:href="#game-chess-bishop" />
                  </svg>
                </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <game-sidebar>
        <template #step-description>Kattints egy mezőre, amit nem üt egyik futó sem.</template>
      </game-sidebar>
    </div>
  </div>
</div>
