@import "tailwindcss";

@custom-variant hocus (&:hover, &:focus-visible);

@layer base {
    *,  ::after,  ::before,  ::backdrop,  ::file-selector-button { 
        border-color: var(--color-gray-200, currentColor);
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    a {
        @apply text-blue-700 underline;
    }
    [role="button"] {
        cursor: pointer;
    }
    button:enabled {
        cursor: pointer;
    }
    button:disabled {
        cursor: not-allowed;
    }
}

@layer components {
    .primary-button {
        @apply block w-full rounded-lg py-1.5 px-3;
        @apply text-center text-lg font-semibold disabled:opacity-50;
        @apply border-none bg-blue-500 text-white enabled:hocus:bg-blue-600;
    }
    .secondary-button {
        @apply block w-full rounded-lg py-1.5 px-3;
        @apply text-center text-lg disabled:opacity-50;
        @apply border border-slate-300 text-slate-600 enabled:hocus:bg-slate-200;
    }
}
