@import "tailwindcss";

@custom-variant hocus {
  @media (hover: hover) {
    &:hover { @slot; }
  }
  &:focus-visible { @slot; }
}

@layer base {
    *,  ::after,  ::before,  ::backdrop,  ::file-selector-button { 
        border-color: var(--color-slate-200, currentColor);
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    h1 {
        @apply text-xl sm:text-2xl font-bold;
        text-wrap: balance;
    }
    h2 {
        @apply text-lg sm:text-xl font-semibold;
        text-wrap: balance;
    }
    a {
        @apply text-blue-700 underline;
    }
    [role="button"] {
        cursor: pointer;
    }
    button {
        @apply text-center enabled:cursor-pointer disabled:cursor-not-allowed;
    }
}

@layer components {
    .primary-button {
        @apply block w-full py-1 sm:py-1.5 px-1.5 sm:px-2;
        @apply text-base sm:text-lg font-semibold rounded-lg disabled:opacity-50;
        @apply border-none bg-blue-500 text-white enabled:hocus:bg-blue-600;
    }
    .secondary-button {
        @apply block w-full py-1.5 px-2;
        @apply text-base sm:text-lg rounded-lg disabled:opacity-50;
        @apply border enabled:hocus:border-slate-300 bg-slate-50 enabled:hocus:bg-slate-100;
    }
}
