<section class="flex justify-center mb-4 mt-1 max-w-[100ch]">
  <Disclosure v-slot="{ open }">
    <div class="border-2 rounded grow">
      <DisclosureButton class="w-full bg-slate-200 text-xl flex justify-center">
        <span class="grow">Játékszabályok</span>
        <span v-show="!open" class="text-right pr-4">⮟</span>
        <span v-show="open" class="text-right pr-4">⮝</span>
      </DisclosureButton>
        <DisclosurePanel class="w-full p-2">
          <p class="text-justify">
            <slot></slot>
          </p>
        </DisclosurePanel>
    </div>
  </Disclosure>
</section>
