name: test
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-24.04
    container:
      image: node:24.11.1
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: test and build
        run: |
          npm ci
          npm run test
          npm run build
