name: test-and-deploy
on:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-24.04
    container:
      image: node:24.11.1
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: test and build
        run: |
          npm ci
          npm run test
          npm run build
      - name: Install rsync
        run: |
          apt-get update && apt-get install -y rsync
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
